#
# K2HR3 OpenStack Notification Listener
#
# Copyright 2018 Yahoo Japan Corporation
#
# K2HR3 is K2hdkc based Resource and Roles and policy Rules, gathers 
# common management information for the cloud.
# K2HR3 can dynamically manage information as "who", "what", "operate".
# These are stored as roles, resources, policies in K2hdkc, and the
# client system can dynamically read and modify these information.
#
# For the full copyright and license information, please view
# the licenses file that was distributed with this source code.
#
# AUTHOR:   Hirotaka Wakabayashi
# CREATE:   Tue Sep 11 2018 
# REVISION:
#

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
build = ">=0.10.0"
collective.checkdocs = ">=0.2"
coverage = ">=7.2.5"
flake8-docstrings = ">=1.7.0"
mypy = ">=1.2.0"
oslo.messaging = ">=14.2.0"
pep8-naming = ">=0.13.3"
pylint = ">=2.17.4"
sphinx = ">=7.0.0"
twine = ">=4.0.2"
typed-ast = ">=1.5.4"
watchdog = ">=3.0.0"
xmlrunner = ">=1.7.7"

[packages]
"oslo-config" = "*"
"oslo.messaging" = "*"
build = "*"

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: noexpandtab sw=4 ts=4 fdm=marker
# vim<600: noexpandtab sw=4 ts=4
#
