[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
xmlrunner = "*"
flake8 = "*"
flake8-docstrings = "*"
pep8-naming = "*"
pycodestyle = "*"
mccabe = "*"
sphinx = "*"
twine = "*"
pylint = "*"
astroid = "*"
typed-ast = "*"
mypy = "*"
importlib-metadata = {version = ">=3.6"}
"collective.checkdocs" = "*"
argh = "*"
watchdog = "*"

[packages]
oslo-config = "*"
oslo-messaging = "*"
