#
# K2HR3 OpenStack Notification Listener
#
# Copyright 2018 Yahoo Japan Corporation
#
# K2HR3 is K2hdkc based Resource and Roles and policy Rules, gathers 
# common management information for the cloud.
# K2HR3 can dynamically manage information as "who", "what", "operate".
# These are stored as roles, resources, policies in K2hdkc, and the
# client system can dynamically read and modify these information.
#
# For the full copyright and license information, please view
# the licenses file that was distributed with this source code.
#
# AUTHOR:   Hirotaka Wakabayashi
# CREATE:   Tue Sep 11 2018 
# REVISION:
#

[DEFAULT]
debug = False
#log_file = sys.stdout
#log_dir = logs
#log_format = %(asctime)-15s %(levelname)s %(name)s %(message)s
#log_level = logging.INFO
#libraries_log_level = logging.WARNING

[oslo_messaging_notifications]
event_type = ^port\.delete\.end$
publisher_id = ^network.*$
transport_url = rabbit://guest:guest@127.0.0.1:5672/
topic = notifications
exchange = neutron
#executor = threading
#pool = k2hr3_osnl
#allow_requeue = True

[k2hr3]
api_url = https://localhost/v1/role
#timeout_seconds = 30
#retries = 3
#retry_interval_seconds = 60
#allow_self_signed_cert = False
#requeue_on_error = False

#
# Local variables:
# tab-width: 4
# c-basic-offset: 4
# End:
# vim600: noexpandtab sw=4 ts=4 fdm=marker
# vim<600: noexpandtab sw=4 ts=4
#
